 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/blog.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
      

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <header>
            <nav>
                <div class="nav-wrapper yellow">
                    <a href="#" class="brand-logo">IZ Blog!</a>
                    <ul class="right">
                        <li>
                        
                        <ul id="dropdown2" class="dropdown-content">
                            <li><a href="index.html">Home<span class="badge"></span></a></li>
                        <li><a href="admin.html">Admin<span class="badge"></span></a></li>
                        <li><a href="aboutme.html">About The Author<span class="badge"></span></a></li>
                        <!--<li><a href="indexeasy.html">Snake<span class="badge">1</span></a></li>
                        <li><a href="http://wiki.theappacademy.us/index.php?title=MiniBlog">App Academy<span class="badge">1</span></a></li>-->
                        
                    </ul>
                    <a class="btn dropdown-button btn btn-large waves-effect waves-light" href="#!" data-activates="dropdown2">Side Menu<i class="mdi-navigation-arrow-drop-down right"></i></a>
                </ul>
                </div>
                
            </nav>
        </header>
        <main>
            <audio src="music/hearth" loop autoplay> </audio>
            <div class="container">
                <div class="row">
                    <h1 class="center-align">My Blog!</h1>
                </div>
                <div class="row">
                    <div class="col s12 main-container">
                        
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer yellow">
            <div class="container">
                <p><a href="#">Back to the top</a></p>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    @2016 Raya Isaiah
                </div>
            </div>
        </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/blog.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script class="center-align" id="blogs-template" type="text/x-handlebars-template">
          {{#each posts}}
          <div class="blog-post">
              <h2 class="blog-post-title"">{{title}}</h2>
              <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
              <div>{{{content}}}</div>
          </div>
          {{/each}}
                  
                  
      </script>
      <script type="text/javascript">
            if (window.addEventListener) {
                var state = 0, konami = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65, 13];
                window.addEventListener("keydown", function (e) {
                    if (e.keyCode == konami[state])
                        state++;
                    else
                        state = 0;
                    if (state == 10)
                        window.location = "indexeasy.html";  //Konami
                }, true);
            }
        </script>
        
        

          
      
    </body>
  </html>
        